[submodule "vendor/extensions/layouts"]
	path = vendor/extensions/layouts
	url = git://github.com/squaretalent/radiant-layouts-extension.git
[submodule "vendor/extensions/navigation"]
	path = vendor/extensions/navigation
	url = git://github.com/squaretalent/radiant-navigation-extension.git
[submodule "vendor/extensions/paperclipped"]
	path = vendor/extensions/paperclipped
	url = git://github.com/squaretalent/radiant-paperclipped-extension.git
[submodule "vendor/extensions/redirect"]
	path = vendor/extensions/redirect
	url = git://github.com/squaretalent/radiant-redirect-extension.git
[submodule "vendor/extensions/settings"]
	path = vendor/extensions/settings
	url = git://github.com/squaretalent/radiant-settings-extension.git
